<a href="https://colab.research.google.com/github/cwkoenigs/work-notes/blob/master/dx_codes_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# import dependencies and libraries
import pandas as pd
import numpy as np
import io
import os
import csv
import math
!pip install hccpy
from pandas.io.json import json_normalize

Requirement already satisfied: hccpy in /usr/local/lib/python3.6/dist-packages (0.0.9)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from hccpy) (1.17.3)

In [0]:
from hccpy.hcc import HCCEngine
he = HCCEngine("22","2018")

In [0]:

df = pd.read_csv('patients.csv')

In [0]:
class patient:
  def __init__(self, ID, sex, age, dx_codes):
    self.ID = ID
    self.sex = sex
    self.age = age
    self.dx_codes = dx_codes
  def __str__(self):
    return "%s %s %s %s" % (self.ID, self.sex, self.age, self.dx_codes)
risk = []

for row in df.head().itertuples():
#  print(row)
  if type(row.dx_codes) is str:
    codes = row.dx_codes
    split_codes = codes.split(';')
#    print(split_codes)
    new_patient = patient(row.ID, row.Sex, row.Age, split_codes)
  else:
    new_patient = patient(row.ID, row.Sex, row.Age, row.dx_codes)
  risk.append(new_patient)

In [0]:
results = []

for patient in risk:
   rp = he.profile(patient.dx_codes, patient.age, patient.sex)
   results.append(rp)
results = json_normalize(results)
# display(results)

In [0]:
results[['parameters.age', 'risk_score', 'parameters.sex']]
new_results = results.rename(columns={'parameters.age':'age','parameters.sex':'sex'})
new_results[['age','sex','risk_score']]

   age sex  risk_score
0   90   M       0.857
1   68   M       0.300
2   69   F       0.312